# Banco de dados
DB_HOST=prismaconcurso.mysql.dbaas.com.br
DB_PORT=3306
DB_USER=prismaconcurso
DB_PASSWORD=Prisma123!@#12
DB_NAME=prismaconcurso

# API da Anthropic (Claude)
ANTHROPIC_API_KEY=sk-ant-...
